
/* keyframe appliqué au choix du menu fichier body menu*/

@keyframes choixone
{
   0% { transform: translateY(25px);
opacity: 0;}
   100% { transform: translateY(0px);
opacity: 1;}
}

/* Keyframe appliqué au spinner fichier laoder*/
@keyframes spin {

   from { transform: rotate(0deg)}
    to { transform: rotate(360deg) }
    
}

/* Keyframe appliqué au loader fichier laoder*/
@keyframes load {
 0% { opacity: 1}
 100% { opacity:0; visibility: hidden}
}


/* Keyframe appliqué au bouncer fichier laoder*/
@keyframes boun
{
0% {transform: translateY(50px)}
100% {transform :translateY(-50px)}

}

/* keyframe appliqué au coeur plein wishlist*/
@keyframes moove 
{
    0% {transform: scale(0.1)}
    20% { transform: scale(0.2)}
    40% { transform:scale(0.4)}
    60% { transform: scale(0.6)}
    80% {transform:scale(0.8)}
    100% {transform: scale(1)}
  
}

/*keyframe appliqué au coeur du fond wishlist*/
@keyframes moovebis
{
        0% {transform: scale(1)}
        100% {transform: scale(0)}
}
/* keyframes appliquée à l'icone de validation du menu*/
@keyframes rotateok
{
    0% {transform:rotate(50deg)}
    100% {transform:rotate(360deg)}
}