@mixin encart {
        border:none;
        padding:15px;
        width: 21em;
        height:75px;
        font-size: 0.9em;
        border-radius: 20px;
        box-shadow: -1px 2px 10px #0000002e;
        margin: auto;
        margin-bottom: 10px;
}

@mixin categorie_entreeplatdessert {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:400px;

}

@mixin anim_wishlisht {
    
        .icon_wishlist_fond
        { 
        position: relative;
        
        color:black;
        font-size: 33px;
        left:37px;

                &:hover{
                        /*color:transparent;*/
                        + .icon_wishlist_dessus
                                {
                                position: relative;
                                animation-name:moove;
                                animation-duration: 2s;
                                animation-fill-mode: backwards;
                                background-image:$degrade;
                                background-clip: text;
                                -webkit-background-clip: text;
                                color:transparent;
                                font-size: 33px;
                                left:0px;
                                visibility: visible;
                                }
                }
        }
        .icon_wishlist_dessus
        {
                visibility: hidden;
        }
}

@mixin ellipsis {
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 12px;
    
}