/*.icon_wishlist
 {
    /*@include anim_wishlisht;
    width: 80px;
    display: flex;

    &:hover
    {
        .icon_wishlist_fond
        {
            transform: scale(0);
            transition : transform 1s;
            
        }
        +.icon_wishlist_dessus
        {
            transform : scale(1);
            transition: transform 1s;
        }
    }
    .icon_wishlist_dessus
    {
            visibility: hidden;
            position: relative;
    }
 }*/

 .icon_wishlist
 {
    /*@include anim_wishlisht;*/
    width: 80px;
    height: 80px;
    position:relative;
 }

 .icon_wishlist_fond
 {
            transform: scale(1);
            transition : transform 400ms;
            width: 80px;
            height: 80px;
            position: absolute;
            display: block;
            top:0;
 }
 .icon_wishlist_dessus
{
            transform: scale(0);
            transition : transform 400ms;
            width: 80px;
            height: 80px;
            position: absolute;
            display: block;
            top:0;  
            background-image:$degrade;
            -webkit-background-clip: text;
            color:transparent;
            visibility: visible;
}
    .icon_wishlist:hover .icon_wishlist_fond
        {
            transform: scale(0);
           
            
        }

        .icon_wishlist:hover .icon_wishlist_dessus
        {
            transform : scale(1);
        
        }
    


/*.icon_wishlist_fond
        {
            position:relative;
            left: 31px;
            color:black;
        }
        .icon_wishlist_dessus
            {
                position: relative;
                background-image:$degrade;
                background-clip: text;
                -webkit-background-clip: text;
                color:transparent;
                opacity: 0;
                    &:hover {
                    opacity: 1;
                    transition: opacity 650ms ease-in-out;
                    }
            }
       
}*/
