.icon_wishlist
 {
    width: 33px;
    height: 33px;
    position:relative;
 }

 .icon_wishlist_fond
 {
            transform: scale(1);
            font-size: 30px;
            position: absolute;
            top:0;
 }
 .icon_wishlist_dessus
{
            transform: scale(0);
            transition: transform 200ms ease-in-out;
            font-size: 33px;
            position: absolute;
            display: block;
            top:1;  
            background-image:$degrade;
            -webkit-background-clip: text;
            color:transparent;
            visibility: visible;
            right: 1px;
            bottom: 2px;
}
 
.icon_wishlist:hover .icon_wishlist_dessus
        {
            transform : scale(1);
            transition : transform 500ms ;
        }
