.bouton.btnmenu
{
    padding:11px 41px;
    margin-top:110px;
    cursor: pointer;

    &:hover{
        transform: scale(1.05);
        background: linear-gradient(-5deg, #9356dc7a, #ff79dac9);
        box-shadow: -1px 2px 18px #0000008c;
            }
}