@font-face {
    font-family: "shrikhandregular";
    src: url("../font/shrikand/shrikhand-regular.woff2") format("woff2"), url("shrikhand-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotoregular';
    src: url('../font/regular/roboto-regular.woff2') format('woff2'),
         url('../font/regular/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  @font-face {
    font-family: 'robotobold';
    src: url('../font/robotobold/roboto-bold.woff2') format('woff2'),
         url('../font/robotobold/roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotothin';
    src: url("../font/robothin/roboto-thin.woff2") format('woff2'),
         url("../font/robothin/roboto-thin.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}