@charset "UTF-8";
/*@mixin anim_wishlisht {

        .icon_wishlist_fond
        { 
        position:relative;
        left:37px;
        color:black;
        font-size: 33px;


                &:hover
                                {
                                animation: moovebis 2s linear forwards;

                                }

                &:hover+.icon_wishlist_dessus
                                {
                                position: relative;
                                animation: moove 300ms ease-in-out forwards;
                                background-image:$degrade;
                                -webkit-background-clip: text;
                                color:transparent;
                                font-size: 33px;
                                visibility: visible;
                                left: 5px;

                                }

                }
}
        .icon_wishlist_dessus
        {
                visibility: hidden;
                position: relative;
        }
        */
/* keyframe appliqué au choix du menu fichier body menu*/
@keyframes choixone {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Keyframe appliqué au spinner fichier laoder*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Keyframe appliqué au loader fichier laoder*/
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Keyframe appliqué au bouncer fichier laoder*/
@keyframes boun {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
/* keyframe appliqué au coeur plein wishlist*/
@keyframes moove {
  0% {
    transform: scale(0.1);
  }
  20% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
/*keyframe appliqué au coeur du fond wishlist*/
@keyframes moovebis {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* keyframes appliquée à l'icone de validation du menu*/
@keyframes rotateok {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bouton {
  cursor: pointer;
  background-color: transparent;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  color: white;
  font-size: 0.9em;
  display: block;
  padding: 15px;
  height: 50px;
  border-radius: 25px;
  box-shadow: -1px 2px 8px #00000085;
  border: none;
  margin: 10px auto 55px auto;
  transform: scale(1);
  transition: all 400ms;
}
.bouton:hover {
  transform: scale(1.05);
}
.bouton:active {
  color: #9356DC;
}

.bouton.btnmenu {
  padding: 11px 41px;
  margin-top: 70px;
  cursor: pointer;
}

/*.icon_wishlist
 {
    /*@include anim_wishlisht;
    width: 80px;
    display: flex;

    &:hover
    {
        .icon_wishlist_fond
        {
            transform: scale(0);
            transition : transform 1s;

        }
        +.icon_wishlist_dessus
        {
            transform : scale(1);
            transition: transform 1s;
        }
    }
    .icon_wishlist_dessus
    {
            visibility: hidden;
            position: relative;
    }
 }*/
.icon_wishlist {
  width: 33px;
  height: 33px;
  position: relative;
}

.icon_wishlist_fond {
  transform: scale(1);
  font-size: 30px;
  position: absolute;
  top: 0;
}

.icon_wishlist_dessus {
  transform: scaleY(0);
  transition: transform 200ms ease-in-out;
  font-size: 33px;
  position: absolute;
  display: block;
  top: 1;
  background-image: linear-gradient(-5deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  visibility: visible;
}

.icon_wishlist:hover .icon_wishlist_fond {
  transform: scale(0);
  transition: transform 500ms ease-in-out;
}

.icon_wishlist:hover .icon_wishlist_dessus {
  transform: scale(1.05);
  transform-origin: bottom;
  transition: transform 300ms;
}

/*.icon_wishlist_fond
        {
            position:relative;
            left: 31px;
            color:black;
            font-size: 33px;
        }
        .icon_wishlist_dessus
            {
                position: relative;
                background-image:$degrade;
                background-clip: text;
                -webkit-background-clip: text;
                color:transparent;
                font-size: 33px;
                opacity: 0;
                    &:hover {
                    opacity: 1;
                    transition: opacity 650ms ease-in-out;
                    }
            }

*/
body {
  font-family: "robotothin";
  font-weight: bold;
  font-size: 1.1em;
  margin: auto;
  position: relative;
}

.bloc_logo {
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.08);
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h1 {
  font-family: "shrikhandregular";
  text-align: center;
}

.barre_recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
@media screen and (min-width: 1040px) {
  .barre_recherche {
    width: 30%;
    margin: auto;
    box-shadow: inset 2px 1px 13px 0px grey;
  }
}

.iconelocalisation {
  margin-right: 3px;
}

.recherche {
  border: none;
  text-align: center;
  font-size: 18px;
  width: 43%;
  background-color: transparent;
  height: 50px;
}

h2 {
  font-size: 1.4em;
}

h3, h2 {
  font-family: "robotobold";
}

.introduction {
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}

.fontionnement {
  padding: 25px 9px 50px 9px;
}

.comment_reserver {
  align-items: center;
  height: 287px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1040px) {
  .comment_reserver {
    flex-direction: row;
    height: 100px;
  }
}

.etapes {
  cursor: pointer;
  border: none;
  padding: 15px;
  width: 21em;
  height: 50px;
  font-size: 0.9em;
  border-radius: 20px;
  box-shadow: -1px 2px 10px #0000002e;
  margin: auto;
  margin-bottom: 10px;
  height: 75px;
  transition: all 0.5s ease;
}
.etapes:hover {
  color: #9356DC;
  box-shadow: 2px 15px 10px #0000002e;
}

.nombre {
  color: white;
  background-color: #9356DC;
  border-radius: 13px;
  font-size: 11px;
  padding: 5px;
  text-align: center;
  width: 13px;
  float: left;
  position: relative;
  right: 26px;
}

.icone_et_explication {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.icone {
  margin: 0px 20px;
  font-size: 1.1em;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 15px 9px 50px 9px;
}

.card {
  border-radius: 15px;
  box-shadow: -1px 2px 10px #0000002e;
  height: 260px;
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
  background-color: white;
}
@media screen and (min-width: 1040px) {
  .card {
    width: 100%;
  }
}

figure {
  width: 100%;
  margin: auto;
  position: relative;
}

figcaption {
  position: absolute;
  top: 5px;
  right: 8px;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 13px;
  font-size: 15px;
  font-family: "robotobold";
  border-radius: 4px;
}

.image_restaurant {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media screen and (min-width: 1040px) {
  .image_restaurant {
    width: 18em;
  }
}

.info_restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 90%;
  margin: auto;
  line-height: 2px;
}

.nom_et_localisation:hover {
  color: #99E2D0;
  transition: color 150ms;
}

a:link {
  text-decoration: none;
}

@media screen and (min-width: 1040px) {
  .restaurant_card {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 1040px) and (min-width: 1040px) {
  .restaurant_card {
    justify-content: space-around;
  }
}

/*.icon_wishlist
 {
     @include anim_wishlisht;

}*/
footer {
  background-color: #353535;
  color: white;
  padding: 15px;
}
footer .p_logo_footer {
  font-family: "shrikhandregular";
  font-weight: normal;
}
footer ul {
  list-style-type: none;
  line-height: 26px;
  font-size: 16px;
  padding-left: 0px;
}
@media screen and (min-width: 1040px) {
  footer ul {
    display: flex;
    justify-content: space-between;
  }
}
footer ul a:link {
  color: white;
}
footer ul li {
  cursor: pointer;
}
footer .icone_footer {
  margin-right: 5px;
}

body.page_menu {
  font-size: 1em;
}
body.page_menu .bloc_page header {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.page_menu .bloc_page header .bloc_logo {
  box-shadow: none;
  position: relative;
}
body.page_menu .bloc_page header .fleche_precedent {
  position: absolute;
  top: 20px;
  left: 38px;
  font-size: 25px;
  color: black;
}

.image_restaurant_menu {
  width: 100%;
  height: 255px;
  position: relative;
  border-radius: 0px;
  object-fit: cover;
}

.nom_et_coeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h3_menu {
  font-family: "robotothin";
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 14%;
}

.menu_du_restaurant {
  padding: 10px;
  background-color: #F6F6F6;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  position: relative;
  margin-top: -31px;
}
.menu_du_restaurant .entree_plat_dessert {
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1040px) {
  .menu_du_restaurant .entree_plat_dessert {
    height: 390px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1040px) {
  .menu_du_restaurant .titre_et_menu {
    display: flex;
    flex-direction: column;
  }
}
.menu_du_restaurant h2 {
  font-family: "shrikhandregular";
  font-weight: normal;
}

.categorie_de_plat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
}
@media screen and (min-width: 1040px) {
  .categorie_de_plat {
    height: 330px;
  }
}
.categorie_de_plat .les_choix {
  /* @include anim_wishlisht;*/
  border: none;
  padding: 15px;
  width: 21em;
  height: 50px;
  font-size: 0.9em;
  border-radius: 20px;
  box-shadow: -1px 2px 10px #0000002e;
  margin: auto;
  margin-bottom: 10px;
  background-color: white;
  position: relative;
  animation-name: choixone;
  /* Voir fichier keyframes*/
  animation-duration: 1s;
  animation-fill-mode: backwards;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}
.categorie_de_plat .les_choix:hover .nom_du_plat {
  width: 73%;
}
.categorie_de_plat .les_choix:hover .prix {
  margin-right: 70px;
  transition: margin-right 100ms;
}
.categorie_de_plat .les_choix:hover .prix + .ok {
  transform: scaleX(1);
}
.categorie_de_plat .les_choix:hover .icon_ok {
  animation: rotateok 500ms ease-in-out 1 forwards;
  cursor: pointer;
}
.categorie_de_plat h4, .categorie_de_plat .prix {
  font-family: "robotobold";
}
.categorie_de_plat h4 {
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0px;
}

.detail_et_prix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
}
.detail_et_prix .prix {
  position: relative;
}
.detail_et_prix .icon_ok {
  color: white;
  font-size: 33px;
}
.detail_et_prix p.plat {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.ok {
  position: absolute;
  background-color: #99E2D0;
  width: 25%;
  height: 100%;
  right: 0;
  top: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleX(0);
  transition: 500ms;
  transform-origin: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categorie_de_plat :nth-child(1) {
  animation-delay: 0.4s;
}

.categorie_de_plat :nth-child(2) {
  animation-delay: 0.6s;
}

.categorie_de_plat :nth-child(3) {
  animation-delay: 0.8s;
}

.categorie_de_plat :nth-child(4) {
  animation-delay: 1s;
}

@font-face {
  font-family: "shrikhandregular";
  src: url("../font/shrikand/shrikhand-regular.woff2") format("woff2"), url("shrikhand-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../font/regular/roboto-regular.woff2") url("roboto-regular.woff2") format("woff2"), url("../font/regular/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../font/robotobold/roboto-bold-webfont.woff2") url "roboto-bold-webfont.woff2" format("woff2"), url("../font/robotobold/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../font/robothin/roboto-thin-webfont.woff2") url "roboto-thin-webfont.woff2" format("woff2"), url("../font/robothin/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 130, 238, 0.966);
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: load 3s linear forwards;
}

.bouncer {
  display: flex;
  align-items: center;
  font-family: "shrikhandregular";
  font-weight: normal;
  justify-content: center;
  animation: boun;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
}

.lettre_bouncer {
  text-shadow: 8px -3px 2px #9356DC, 11px -3px 20em #FF79DA, 2px 6px 0.1em #99E2D0;
}

.bouncer :nth-child(1) {
  animation: boun 1s ease 0.1s infinite;
}

.bouncer :nth-child(2) {
  animation: boun 1s ease 0.2s infinite;
}

.bouncer :nth-child(3) {
  animation: boun 1s ease 0.3s infinite;
}

.bouncer :nth-child(4) {
  animation: boun 1s ease 0.4s infinite;
}

.bouncer :nth-child(5) {
  animation: boun 1s ease 0.5s infinite;
}

.bouncer :nth-child(6) {
  animation: boun 1s ease 0.6s infinite;
}

.bouncer :nth-child(7) {
  animation: boun 1s ease 0.7s infinite;
}

.bouncer :nth-child(8) {
  animation: boun 1s ease 0.8s infinite;
}

.spinner {
  border-radius: 50%;
  border-top: 4px solid #9356DC;
  border-bottom: 2px solid #99E2D0;
  width: 80px;
  height: 80px;
  position: sticky;
  animation: spin;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  margin-top: 90px;
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=main.css.map */
