@font-face {
  font-family: "shrikhandregular";
  src: url("shrikhand-regular.woff2") format("woff2"), url("shrikhand-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.eot");
  src: url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotobold";
  src: url("roboto-bold-webfont.woff2") format("woff2"), url("roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("roboto-thin-webfont.woff2") format("woff2"), url("roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotothin";
  font-weight: bold;
  font-size: 1em;
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fleche_precedent {
  position: absolute;
  top: 34px;
  left: 38px;
  font-size: 25px;
}

h1 {
  font-family: "shrikhandregular";
  text-align: center;
}

/* PREMIERE SECTION AVEC IMAGE PRINCIPALE DU RESTAURANT*/
.image_restaurant {
  width: 100%;
  height: 255px;
  position: relative;
}

/*DEUXIEME SECTION MENU DU RESTAURANT*/
.entree_plat_dessert {
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu_du_restaurant {
  padding: 10px;
  background-color: #F6F6F6;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  position: relative;
  top: -31px;
}

h2 {
  font-family: "shrikhandregular";
}

.nom_et_coeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_wishlist {
  font-size: 25px;
  margin-right: 15px;
}

h4, .prix {
  font-family: "robotobold";
}

.categorie_de_plat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.les_choix {
  display: flex;
  flex-direction: column;
  line-height: 0px;
  background-color: white;
  width: 95%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

.detail_et_prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bouton {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  color: white;
  font-size: 0.9em;
  padding: 10px 32px 26px 32px;
  height: 25px;
  border-radius: 25px;
  box-shadow: -1px 2px 8px #00000085;
  border: none;
  margin: 10px 0px 55px 0px;
  transform: scale(1);
  transition: transform 400ms;
}
.bouton:hover {
  transform: scale(1.15);
}

.bouton:active {
  color: #9356DC;
}

/*FOOTER*/
footer {
  background-color: #353535;
  color: white;
  padding: 15px;
}

h5 {
  font-family: "shrikhandregular";
}

ul {
  list-style-type: none;
  line-height: 26px;
  font-size: 16px;
  padding-left: 0px;
}

.icone_footer {
  margin-right: 5px;
}

/*# sourceMappingURL=style_menu.css.map */
