.h3_menu
{
    font-family: $general_font;
    padding-bottom: 5px;
    border-bottom: 3px solid #99E2D0;
    width: 14%;
}
.menu_du_restaurant
{
    padding:10px;
    background-color:#F6F6F6;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    position:relative;
    top:-31px;

    .entree_plat_dessert
        {
            height:1200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
    h2
        {
            font-family: $primary_font;
        }

}

.nom_et_coeur
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon_wishlist
{
    font-size: 25px;
    margin-right: 15px;
}


h4, .prix
{
    font-family: $bold_font;
}

.categorie_de_plat
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:300px;
    margin-top: -70px;
}
.les_choix

{
    @include encart;
    background-color: white;
    line-height: 0px;
    height: 60px;
}
/*{
    display: flex;
    flex-direction: column;
    line-height: 0px;
    background-color:white;
    width: 95%;
    margin:auto;
    padding:10px;
    border-radius: 15px;
}*/
.detail_et_prix
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


