body.page_menu
{
   font-size: 1em;

   .bloc_page
   {
        header
        {
            display: flex;
            justify-content: center;
            align-items: center;

            .bloc_logo
            {
                box-shadow: none;
                position: relative;
            }
            .fleche_precedent
                {
                    position: absolute;
                    top:30px;
                    left:38px;
                    font-size: 25px;
                    color:black;
                }
                
        }

        
   }

   
}