

.barre_recherche
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
       
    }

    .iconelocalisation 
    {
        margin-right: 3px;
    }

    .recherche 
    {
        border: none;
        text-align: center;
        font-size: 18px;
        width: 43%;
        background-color: #EAEAEA;
        height: 50px;
    }

h2
{
    font-size: 1.4em;
}
h3,h2
{
    font-family:$bold_font ;
}
.introduction {
	text-align: center;
	background-color: #f7f7f7;
    padding:15px;
}

.fontionnement
{
    padding:25px 9px 50px 9px;
}
.comment_reserver
{
   align-items: center;
   height:287px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.etapes
{
    cursor: pointer;
    @include encart;
    height: 75px;
    transition: all 0.5s ease;
        &:hover
        {
            color:$primary;
            box-shadow: 2px 15px 10px #0000002e;
        }
}
.nombre
{
    color:white;
    background-color: $primary;
    border-radius: 13px;
    font-size: 11px;
    padding:5px;
    text-align: center;
    width: 13px;
    float: left;
    position: relative;
    right: 26px;
}
.icone_et_explication
{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}
.icone
{
    margin: 0px 20px;
    font-size: 1.1em;
}
